
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body{
    background-color: rgb(0, 0, 0);
    background-image: url("./imagees/Ellipseblur.png");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: white;
    overflow: visible;
}

.Nav-elements ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    margin-top: 0%;
}
.Nav-elements ul li{
    margin-top: -2rem;
    padding-left:1.1rem;
    text-decoration: none;
    list-style-type: none;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: small;
}
.title h1{
    margin: 1.5rem;
    margin-left: 2rem;
    position: relative;
    z-index: 1;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  
}
.chain img{
    width: 20%;
    height: 100vh;
    margin-left: 1.5rem;
    overflow: visible;
    margin-top: 0%;
    top: 0;
    position: absolute;
    
}
.Nav-elements ul li:hover{
    cursor: pointer;
    text-decoration: underline orange;
  text-underline-offset: 2px; 
}
.hero{
    display: flex;
    justify-content: center;
    text-align: center;

    flex-direction: column;
}
.hero h1{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    margin-top: 5rem;
    font-size:40px ;
    
    position: relative;
    left: 0;
    right: 0;
}

.title h1::after{
    content: ".";
    position: absolute;
    color: #ff9900;
}
.hero h2{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: white;
    font-size:40px ;
    width: 100%;
    position:relative;
    top: 0%;
    margin: 0%;
    margin-left: 20%;
    margin-top: -2rem;
    margin-bottom: 5%;
}
.Hero-2{
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    flex-direction: column;
    margin-top: 2rem;
}
.Hero-2 p{
    position: fixed;
    left: 20%;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: small;

}
.Hero-2 p::before{
    content: "*";
    color: #ff9900;
}
.hero2-section{
    display: flex;
    flex-direction: row;

    justify-content: center;
    text-align: right;
    position: fixed;
    padding: 0;
    margin: 0;
   top: 50%;
   right: 10%;
   margin-top: 4%;

}

.hero2-section .img1{
    width: 60%;
    padding: 0%;
    margin-right: -100px;
    
   
}
.hero2-section .img2{
    width: 60%;
    padding: 0;
    margin-left: -100px;
    
    
}
